:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --sidebar-width: 250px;
}

body {
    background-color: var(--color-base2);
}

h1,h2,h3,h4,h5,h6,p{
    color: var(--color-heading);
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

a:hover{
    color: var(--color-heading)
}

img{
    width:100%;
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
}

/* Navbar */
.navbar{
    background-color: var(--color-base);
}

.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover{

}

@media (min-width: 992px){
    .navbar{
        min-height: 100vh;
        width: var(--sidebar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.9),rgba(3, 63, 71, 0.9));
        background-size: cover;
        background-position: center;
    }

    /* Wrapper */
    #content-wrapper{
        padding-left: var(--sidebar-width);
    }
}

/* Button */
.btn{
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand{
    background-color: #fff;
    border-color: #fff;
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: #fff;
    color: var(--color-base);
    border-color: azure;
}